<div class="py-5">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <span class="anchor" id="formLogin"></span>

            <div class="card rounded-0">
                <div class="card-header">
                    <h3 class="mb-0"> Login </h3>
                </div>

                <div class="card-body">


                   

                    <form   (ngSubmit)="loginUser()" #userlogin="ngForm">
                        <div class="form-group">
                          <label for="username" >User Email</label>
                          <input type="email" name="username"  class="form-control" #email='ngModel' pattern="^[a-z0-9.%+]+@[a-z0-9.-]+\.[a-z]{2,4}$" [class.is-invalid]="email.invalid && email.touched" [(ngModel)]="user.username" required >
                          <small class="text-danger" [class.d-none]="email.valid || email.touched">Enter The Valid Email</small>
                          
                        </div>

                        <div class="form-group">
                          <label for="password" >Password</label>
                          <input type="password" name="password" #pass='ngModel' class="form-control" [(ngModel)]="user.password" minlength="8" required>
                          <small class="text-danger" [class.d-none]="pass.valid || pass.untouched">Enter The Valid Password</small>

                        </div>
                        <button type="submit"  class="btn btn-primary btn-block" [disabled]="userlogin.form.invalid" >Submit</button>
                        
                    </form>


                </div>
            </div>
        </div>
    </div>
</div>
