<div class='card' style="width: 100">
    <div class='card-header' style="width: 100">
        <h3>{{title}}</h3>
    </div>
    <div class='card-body' style="width: 100">


        <div class="row" *ngFor='let author of authors'>    
            <br>
            <div class="col-md-2 col-sm-3 text-center">
              <img alt="" src={{author.image}} style="width:100px;height:100px"  class="rounded-circle" >
            </div>


            <br>
            <div class="col col-lg-2">
              <div class="row">
                <div class="col-xs-9">
                    <h2>{{author.name}}</h2>
                  <h4><span class="text-muted" >{{author.genre}}</span></h4><h4>
                  <small style="font-family:courier,'new courier';"  class="label label-default">{{author.book1}} <br>{{author.book2}} <br> {{author.book3}}  
                  </small>
                  </h4>
                
                </div>
                <div>
                <button class="btn btn-warning" style="cursor: pointer;" *ngIf="_auth.loggedIn()" (click)="editAuthor(author)" >EDIT</button>
                <button class="btn btn-danger" id="btnspace2" style="cursor: pointer;" *ngIf="_auth.loggedIn()" (click)="deleteAuthor(author)" >DELETE</button>
              </div>
              </div>
              <hr>
              <br><br>
            </div>
          </div>
          <hr>







<!-- 
        <div class='table-responsive'>
            <table class='table'>
                <thead>
                    <tr>
                        <th>
                            <button class='btn btn-primary' (click)='toggleImage()'>
                              {{showImage? 'Hide' : 'Show'}} Image
                            </button>
                        </th>
                        <th>Name</th>
                        <th>Genre</th>
                        <th>Book1</th>
                        <th>Book2</th>
                        <th>Book3</th>
                    </tr>
                </thead>
                <tbody>
                   <tr *ngFor='let author of authors'>
                       <td><img *ngIf='showImage'
                                [src] = 'author.image'
                                [title] = 'author.name'
                                [style.width.px] = 'imageWidth'
                                [style.margin.px] = 'imageMargin'  >
                        </td>
                        <td><a routerLink="/single">{{ author.name }}</a></td>
                        <td>{{ author.genre }}</td>
                        <td>{{ author.book1 }}</td>
                        <td>{{ author.book2 }}</td>
                        <td>{{ author.book3 }}</td>
                        <td>
                            <button class="btn btn-warning" style="cursor: pointer;" *ngIf="_auth.loggedIn()" (click)="editAuthor(author)">EDIT</button>
                            <button class="btn btn-danger" style="cursor: pointer;" *ngIf="_auth.loggedIn()" (click)="deleteAuthor(author)">DELETE</button>
                        </td>
                   </tr>
                    
                </tbody>
            </table>
        </div>

 -->



    </div>
</div>


